<app-header></app-header>
<router-outlet></router-outlet>
<!-- <form [formGroup] = "searchForm">
    Category : <input formControlName="category" type="text" placeholder="category"/>
    Author : <input formControlName="author" type="text" placeholder="Author"/>
    Publisher : <input formControlName="publisher" type="text" placeholder="Publisher"/>
    Price : <input formControlName="price" type="text" placeholder="Price"/>
    <input type="button" value="Search" (click) = "getBooks()" />
</form> -->
