.purchased-search-container{
    display:flex;
}
input{
    margin: 4px;
    padding: 4px;
}
div{
    padding: 12px;
    display:inline-grid;
}

.books{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.card{
    border: 2px solid palegreen;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin: 4px;
    padding: 4px;
}